@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-image: url("../images/mibuyu.jpg");
  background-size: cover;
}

h1 {
  height: 60px;
  width: 200;
  text-align: center;
  padding: 8px;
  font-size: 64px;
}

p{
 text-align: center;
  color: white;
  font-size:32px;
  font-weight:bold;
  margin-top: 64px;
}

#count-el {
  text-align: center;
  font-size: 72px;
}

.images-icyCity {
  width: 800px;
  margin: auto;
  height: 700px;
  border: 4px black solid;
  border-radius: 12px;
  margin-top: 32px; 
  background-image: url("../images/giraffe.jpg");
  background-size:cover;
  /* justify-content: center;
  align-items: center;
  display:block; */
}

#increment-button {
  width: 60%;
  background-color: rgb(31, 6, 138);
  height: 60px;
  margin-left:20%;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  border-radius:12px;
  color: white;
  font-weight: 800;
  border:  4px rgb(200, 12, 25) solid;
}

#save-button {
  width:60%;
  margin-top: 32px;
  background-color: rgb(9, 61, 9);
  height: 60px;
  margin-left:20%;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  border-radius:12px;
  color: white;
  font-weight: 800;
  border: 4px rgb(200, 12, 25) solid;
}


